@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
}

nav{
    background: #5d5c5c1a;
    border: 1px solid #ffffff20;
    backdrop-filter: blur(8px) saturate(120%);
    padding: 1rem;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li{
    display: inline;
}

nav ul li a{
    color: white;
    text-decoration: none;
    padding: 0.5 rem 1rem;
    display: block;
    cursor: pointer;
    font-size: 22px;
    padding: 0.5rem 1rem;
    transition: color 0.25s;
}

nav ul li a:hover{
    color: rgb(113, 113, 113);
}

.bacground{
    height: 100%;
    width: 100%;
    float: left;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: none;
    position: fixed;
    object-fit: cover;
    z-index: -1;
}

